# for emacs:
*~
\#*
.\#*

# for vi:
*.swp

# for svn
.svn

# for ETrobo
x86
obj
Debug
UnitTest
Release_RechargeableBattery
*.pdb
*.mdb

# for Xamarin Studio
*.userprefs
bin/Release/*.xml

# for Visual Studio
*.suo
UpgradeLog*.htm

# for common
*.bak

# for Doxygen
*.tmp

# for Visual Studio Code
Code

# - 0.7.x
.settings

# 0.8.x -
.vscode
